{% extends "base.html" %} {% block title %}Resume Parser Web App{% endblock %} {% block content
    %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Parser Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<script>

function myFunction() {
var text1= $('#text1').val();
var text2= $('#text2').val();
  $.ajax({
              url: "/join",
              type: "POST",
              data: {text1:text1,
              text2:text2}

          }).done(function(response) {

            var html= "<br><br><br><p> <b> Keywords : <b><p>";

            response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"

                });
                html +="<br>";
                $(".show-data").append(html);
            });
};

  </script>
<body>
    <br>
    <h1>AI Resume Checker</h1>
    <br>
    <p>Paste Job Description Here:</p>
    <div class="form-group">
        <form action = "/result" method = "POST" enctype="multipart/form-data">
            <textarea id="text1" name="text1"></textarea>
            <br>
            <button onclick="document.getElementById('text1').value = ''">Click here to clear</button>
            <br>
            <br>
            <label for="filename">Upload Resume</label>
            <input type="file" id="filename" name="filename">
            <button id="resetbtn"type="button"onClick="document.getElementById('filename').value = ''">Reset file</button>
            <br>
            <br>
            <input type = "submit">
        </form>
    </div>

    <div class="show-data" >

    </div>

</body>
</html>

{% endblock %}